<h2><%= run.name %></h2>

<button id="favoriteId">Save To Favorites</button>
<div class="autoplay">
</div>
<div id="map">
</div>

<script>
var map;

var runs = <%- run.imageArray %>;

console.log(runs);

var runspoints = <%- run.latlngArray %>;

console.log(JSON.stringify(runspoints));

$("#favoriteId").on('click', function() {
    $.ajax({
      type: "POST",
      url: "/runMaps/favorite",
      dataType: "json",
      data: {
          userId: <%- currentUser.id %>,
          runId: <%- run.id %>
      },
      success: function (data) {
          console.log('Success');
      },
      error: function (err) {
          console.log(err);
      }
    });
});

function makeMap() {

var map = new google.maps.Map(document.getElementById('map'), {
    center: {
        lat: 47.6397,
        lng: -122.3644
    },
    zoom: 15
});

var runPath = new google.maps.Polyline({
  path: runspoints,
  geodesic: true,
  strokeColor: '#FF0000',
  strokeOpacity: 1.0,
  strokeWeight: 2
});


runPath.setMap(map);
var idx = 0;
intervalID = window.setInterval(function() {
    idx++;
    if (idx >= runs.length) {
        idx = 0;
    }
    // $('#showMeTheRun').html('<img src="' + runs[idx] + '">');
    map.setCenter(runspoints[idx]);
}, 2000);

};

for (var i = 0; i < runs.length; i++) {
  $('.autoplay').append('<div><img src="' + runs[i] + '"></div>');
}''


$('.autoplay').slick({
    slidesToShow: 1,
    slidesToScroll: 1,
    autoplay: true,
    autoplaySpeed: 1700,
 });


</script>
<script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCHKEYVYqaOgwp_M3GURu30QKreYxq61bQ&callback=makeMap">
</script>
